<div class="container product">

    <table class="table table-striped table-sm align-middle">
        <thead>
            <tr>
            <th scope="col" class="text-center">Orderdetail</th>
            <th scope="col" class="text-center">Orderheader</th>
            <th scope="col" class="text-center">Products</th>
            </tr>
        </thead>
        <tbody *ngFor="let orderdetail of orderdetails$ | async">
            <th scope="row" class="text-center">{{ orderdetail.orderdetail_id }}</th>
            <td class="text-center">{{ orderdetail.orderheader_id }}</td>
            <td class="text-center">{{ orderdetail.product_name }}</td> 
        </tbody>
    </table>
